body {
  background-image: url('../anime/japan-background-digital-art.jpg');
  color: white;
  font-family: sans-serif;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #800000;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 28%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

#anime-list{
    width: 600px;
    margin: 0 auto;
}
